.home_title {
	min-height: 20rem;
	display:flex;
	align-items: center;
	h1 {
		padding-top:2rem;
		padding-bottom:2rem;
		font-size: 3.8rem;
		font-family: $base-font-family;
		strong {
			font-family: $alt-font-family;
		}
	}
}