$close-fs: rem(68px);
$close-pos: rem(125px);
$content-p: rem(16px);
$content-li: rem(16px);
$content-max-w: (
  base: rem(960px),
  narrow: rem(520px),
);
$content-max-h: calc(100vh - 90px);
$content-top: rem(64px);

.modal {
  position: fixed;
  background: rgba(255, 255, 255, 0.98);
  z-index: map-get($zIndex, modal);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all $tt;
  margin: 0 !important;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &__close {
    display: block;
    line-height: 0.4;
    color: #666050;
    position: absolute;
    top: 12.5rem;
    left: 9.1rem;
    font-size: 7.25rem;
    label {
      font-size: 2.6rem;
      position: relative;
      bottom: 13px;
      color: #666050;
    }

    @include when-inside('[dir="rtl"]') {
      right: auto;
      left: $close-pos;
    }
  }

  &__closeInOtherPage {
    display: block;
    line-height: 0.4;
    color: #666050;
    position: absolute;
    top: 11.5rem;
    left: 18.1rem;
    font-size: 7.25rem;
    label {
      font-size: 2.6rem;
      position: relative;
      bottom: 13px;
      color: #666050;
    }
  }

  &__content {
    padding: $content-p;
    width: 90%;
    max-width: map-get($content-max-w, base);
    max-height: $content-max-h;
    overflow: auto;
    position: absolute;
    top: $content-top;
    left: 46%;
    transform: translateX(-50%);
    // background: white;
    box-shadow: 0 6px 32px get-color(primary, 1);

    &--chromeless {
      background: none;
      box-shadow: none;
    }

    &--narrow {
      max-width: map-get($content-max-w, narrow);
    }

    &--v-center {
      top: 15%;
      transform: translate(-50%, -50%);
    }
  }
}

//* Modal Photo
.photo {
  //TODO photo full screen
  background:rgba(#272727, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .modal__close {
    left:unset;
    right: 9.1rem;
    color:get-color(bg, 1)
  }
  label {
    color: white;
  }
  img {
    width: 90rem;
  }
}

//---- Modal Menu ----//
.modal__content.modal__content--menu-list-item {
  position: absolute;
  top: 14rem;
  left: 50%;
  box-shadow: 0 0 0;
  ul {
    list-style: none;
    li {
      padding-top: $content-li;
      font-size: 2rem;
      font-family:$alt-font-family;
    }
  }
}

  .container-footer-logo {
    width:100%;
    position: absolute;
    bottom: 28%;
    margin-bottom: -140px;
  }

  .container-footer-logo .col-6 {
    justify-content: right;
  }
  .container-footer-logo .col-6 a {
    display: inherit;
    .logo-small {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }

  .container-footer-logo .col-6 ul {
    list-style: none;
  }

  .container-footer-logo .col-6  li {
    display:inline;
    i {
      font-size: 3.7rem;
      padding-left: 1.6rem;
      opacity: 0.6;
      &:hover {
        transition: 0.5s;
        transform: translateY(-12px);
        opacity: 1;
      }
    }
  }

  .container-footer-logo .col-6 span {
      display: flex;
      align-self: center;
  }




  //-------------------- Media Query --------------------// 
  /* Smartphones (portrait) ----------- */
  @media (min-width:320px)  {
    .container-footer-logo {
      margin-bottom: -190px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 578px) 
and (max-device-width : 764px) {
  .container-footer-logo {
    width: 87%;
  }
}