.sticky + .content {
	padding-top: 102px;
  }
  
  .sticky {
	transition: .225s ease-out;
	width: 100%;
	position: fixed;
  }

.nav {
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.84;
	width: 243px;
	height: 145px;
	z-index: 9999;
	@include media ('>=sm') {
		position: fixed;
		top: 3rem;
		left: 2.8rem;
	}

	&__header {
		display: flex;
		align-items: flex-end; 
		justify-content: center;
			img {
				margin-top: 17px;
				margin-bottom: -28px;
			}
			span {
				display: block;
				margin-left: 10px;
				line-height: 0;
				margin-bottom: -1rem;
				font-size: 30.6px;
			}
	}
}