.sticky + .content {
	padding-top: 102px;
  }
  .content {
	padding-top: 16.6rem;
  }
  
  .sticky {
	transition: .225s ease-out;
	width: 100%;
	position: fixed;
  }

.nav {
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.84;
	width: 243px;
	height: 145px;
	z-index: 9999;
	@include media ('>=sm') {
		position: fixed;
		top: 3rem;
		left: 2.8rem;
	}
	img {
		margin-top: 20px;
		margin-left:28px;
		display: inline;
	}

	span {
		display: inline;
		font-size: 30.6px;
	}
}