.partner {
	h4 {
		color:#151515;
		text-align:left;
		margin-bottom:$mt;
		@include media('>=sm') {
			font-size: ms(11);
		}
	}
	p {
		font-size: ms(7);
		font-family: $base-font-family;
		color:#151515;
	}
	padding-bottom: 4rem;
}

div.services-info { 
	div.container-service {
		padding-bottom: 5rem;
		display: inline-flex;
	}
	p {
		color:#151515;
		font-size: ms(6);
		@include media('>=sm') {
			font-size: ms(10);
		  }
	}
	img {
		width: 128px;
	}
	span {
		background-color: #f4f2ee;
		color: black;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor:pointer;
		i {
			font-size: 3rem;
		}
		&:hover {
			i {
				transition: 0.5s;
				transform: translateX(10px)
			}
		}
	}
	div.col-md-4 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-left: 7px solid #b2aea3;
	}
	div.col-md-8 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	p:first-child {
		font-size: ms(4);
		@include media('>=sm') {
			font-size: ms(8);
		  }
		font-weight: bold;
	}
	p:last-child {
		letter-spacing: 0.2rem;
		font-size: ms(4);
		@include media('>=sm') {
			font-size: ms(8);
		  }
		margin-top: 20px;
		font-style: italic;
		cite {
			color: #151515;
			font-weight: 800;
		}
	}
}

//*---- Media Query ----//

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.services-info div.container-service {
		display: initial;
	}
}