.services {
	text-align:center;
	margin:0 auto;
	line-height: 100px;
	margin-bottom: $mt;
	display:flex;
	justify-content:center;
	.col-md {
		margin-left: 10px;
		margin-right: 10px;
	}
 	&__img-services {
		margin: 0 auto;	
		width: 202px;
	}
	p {
		font-weight: 800;
		font-size: 3.9rem;
	}
}