div.story-project {
	// NOTE in page project-detail
	background-color:#f4f2ee;
	font-family:$base-font-family;
	.container {
		margin-bottom:$mt;
	}
	div.wrapper-story-title {
		display: flex;
		justify-content: space-around;
		height: 100%;
		align-items: baseline;
		color:#b2aea3;
		font-family: $alt-font-family;
		position: relative;
		top: 11rem;
		span.story-title {
			transform: rotate(-90deg);
			display: block;
			font-size: 7rem;
			line-height: 5.5rem;
			width: 29rem;
			padding-bottom: 5rem;
			margin-bottom: -4rem;
			opacity: 0.3;
		}
	}
	div.wrapper-story-description {
		margin-top: 4rem;
		h2 {
			font-size:3.8rem;
		}
		h3 {
			font-size:3rem;
		}
		p {
			font-size: 1.6rem;
			padding-bottom: 2rem;
		}
	}
}

// SECTION Request Information Wrapper
div.request-information {
	background-color:#fafafa;
	&__wrapper {
		height: 14.3rem;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		a,
		span {
			font-size: 2.6rem;
		}
	}
} // !SECTION