.band {
	margin-top:20px;
	background-color: #b2aea3;
	text-align: center;
	height:141px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	p {
		color: white;
		font-size: 28px;
		&:hover {
			transition:$tt;
			color:#8f8a7b;
		}
	}
}