.designer-list {
	margin-bottom:4rem;
	ul {
		list-style: none;
		margin:0;
		padding:0 0 10rem 0;
		position: relative;
		top: 4rem;
	}	
	li > a {
		font-family:$alt-font-family;
		font-size: ms(5);
		@include media('>=sm') {
			font-size: ms(6);
		}
		@include media('>=md') {
			font-size: ms(8);
		}
		@include media('>=md') {
			font-size: ms(10);
		}
	}
}