div.press {
	margin-top: $mt;
	display: flex;
	flex-direction: column;
	.press-heading{
		&__press-title {
			text-align: center;
			font-size: ms(4);
			padding: 1rem;
		}
	}

	div.image-press {
		width: 100%;
		height: auto;
	}

	picture {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	img {
		object-fit: contain;
		transition: 0.3s ease;
	}
	div.zoom-effect-container { 
		margin: 0 auto;
		overflow: hidden;
	  }
	  div.zoom-effect-container:hover div.image-press img {
		transform: scale(1.09);
	  }

	figcaption {
		text-align: center;
		font-size: ms(4);
		padding: 1rem;
	}
}