div.press {
	margin-top: $mt;
	display: flex;
	flex-direction: column;
	border: 1px dotted blue;

	.press-heading{
		&__press-title {
			text-align: center;
			font-size: ms(5);
		}
	}

	picture {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	img {
		object-fit: contain;
	}

	figcaption {
		text-align: center;
		font-size: ms(5);
	}
}