div.press {
	margin-top: $mt;
	margin-bottom:$mt;
	display: flex;
	flex-direction: column;
	&:hover {
		transition: $tt;
		box-shadow: 0px 0px 7px 3px #4c4c4cb8;
	  }
	.press-heading{
		&__press-title {
			text-align: left;
			font-size: ms(4);
			padding: 2rem;
		}
	}
	.svg_download {
		width:32px;
		height:32px;
	}

	div.image-press {
		width: 100%;
		height: auto;
	}

	picture {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	img {
		object-fit: contain;
		transition: 0.3s ease;
		width: 80%;
		margin: 0 auto;
	}
	div.zoom-effect-container { 
		margin: 0 auto;
		overflow: hidden;
	  }
	  div.zoom-effect-container:hover div.image-press img {
		transform: scale(1.09);
	  }

	figcaption {
		text-align: center;
		font-size: ms(4);
		padding: 1rem;
		a {
			display: flex;
			justify-content: space-around;
		}
	}
}