.table-container {
	margin-top: $mt;
	margin-bottom: $mt;
	display: flex;
	justify-content: center;
	table {
		border-collapse: collapse;
		font-weight: 100;
		background: #333;
		color: #fff;
		text-rendering: optimizeLegibility;
		border-radius: 5px;
	}
	table thead th { font-weight: 600; }
	table thead th, table tbody td { 
		padding: .8rem; font-size: 1.4rem;
	}
	table thead th, table tbody td:first-child { 
		font-family: $alt-font-family;
	}
	table thead th, table tbody td:last-child { 
		font-family: $light-font-family;
	}
	table tbody td { 
		padding: .8rem; font-size: 1.4rem;
		color: #444; background: white; 
	}
	table tbody tr:not(:last-child) { 
		border-bottom: 1px solid black;  
	}
	table tbody tr, td:last-child { 
		border-bottom: 1px solid black;  
	}	
}