$max-w: rem(1920px);
$header-h: rem(62px);

.progetti {
  header.site-header {
    height: auto;
  }
  // max-width: $max-w;
  // margin: 0 auto;
  // overflow-x: hidden;
  // padding-top: $header-h;
}