.site-header {
  position: relative;
  height: 18rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &__bar {
    position: absolute;
    bottom: 35px;
    width:100%;
  }
  &__bar:focus .nav{
    z-index: 999999;
  }
}
.zIndex{
  z-index: 999999999 !important; // REVIEW 
}

// ANCHOR position nav for Drupal8 backoffice
.adminimal-admin-toolbar .nav {
    top: 79px;
    z-index: 99 !important;
}