.site-header {
  position: relative;
  height: 18rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &__bar {
    position: absolute;
    bottom: 28px;
  }
}