.site-header {
  position: relative;
  height: 18rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &__bar {
    position: absolute;
    bottom: 28px;
  }

  &__caption {
    margin: 0 auto;
    padding-bottom: 4rem;
    animation: text 3s 1;
    z-index: 99;
    height: 20rem;
    p {
      font-size: 2rem;
      color: rgb(240, 240, 240);
      text-shadow: 0px 0px 2.5px #3f3f3f;
      line-height: normal;
      @include media('>=sm') {
        font-size: 2.6rem;
      }
    }
    @keyframes text {
      0% {
        transform: scale(1, 1);
      }
      80% {
        transform: scale(1, 1);
      }
      20% {    
        transform: scale(1.1, 1.1);
      }
    }
  }
  //* Inside Detail Project Page 
  &__caption-detail {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    animation: text 3s 1;
    z-index: 9999;
    background-color: rgba(21, 21, 21, 0.3);
    width: 100%;
    margin-top:$mt;
    h1 {
      text-align: left;
      font-size:ms(15);
      font-family:$alt-font-family;
      color: rgb(240, 240, 240);
      text-shadow: none;
      margin-top:$mt;
    }
    h3 {
      text-align: left;
      font-size:ms(10);
      font-family:$base-font-family;
      color: rgb(240, 240, 240);
      text-shadow: none;
    }
    div.share {
      bottom: 4.5rem;
    }
    @keyframes text {
      0% {
        transform: scale(1, 1);
      }
      80% {
        transform: scale(1, 1);
      }
      20% {    
        transform: scale(1.1, 1.1);
      }
    }
  }
}