.subheader-container {
  .subheader {
   width: 100%;
   display: flex;
   justify-content: unset;
   padding-bottom: 2.1rem;
   display: flex;
   align-items: center;
   @include media('>=lg') {
    justify-content: space-around;
  }
   .subheader__ificontract-welcome-text {
    width: 77%;
    p {
      color: $text-color;
      font-size:  2.5rem;
      text-align: left;
      font-family: $alt-font-family;
    }
  }

  input {
    background-color: get-color(bg, 0);
    transition: .3s;
    color: white;
    height: 50px;
    width: 100%;
    min-width:238px;
    font-size: 24px;
    border: #84754e;
    cursor: pointer;
    margin: 0 auto;
    position:relative;
    &:hover {
      animation-name: background-color;
      animation-duration: .5s;
      background-color: get-color(bg, 4);
    }
  }
 }
 .subheader__text {
   width: 64%;
ul {
	font-size: 2.2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	font-family: $alt-font-family;
	a:hover{
		text-decoration: underline; 
	}
}
 }
 .wrapper-input {
   width: 2.38rem;
   margin-top: $mt;
   margin-bottom: $mt;
 }
}

//* Inside Home Page
div.homepage {
  div.subheader {
    padding-top: 6rem;
    padding-bottom: 4rem;
    p {
      font-size: 3.8rem;
      text-align: left;
      strong {
        font-family: $alt-font-family;
      }
    }
  }
}

//* Inside Project Detail 
div.project-detail {
  div.subheader {
    padding-top: 6rem;
    padding-bottom: 4rem;
    h2 {
      font-size: 3.8rem;
      text-align: left;
      font-family: $base-font-family;
      margin-bottom: $mt;
    }
    p {
      font-size: 2.4rem;
      text-align: left;
      font-family: $light-font-family;
      margin-bottom: $mt;
    }
  }
}

//* ---- Media Query ----//

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px) {
  div.subheader-container .subheader {
    justify-content: flex-start;
  }
}